body{
    background-color: rgb(174, 219, 174);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: rgb(57, 103, 57);
}

h3.basico{
    text-align: center;
    background-color: blueviolet;
}

h3.intermediario{
    text-align: center;
    background-color: rgb(226, 43, 49);
}

h3.avançado{
    text-align: center;
    background-color: rgb(85, 183, 113);
}

h2{
    color: rgb(0, 0, 0); 
}

.destaque{
    text-decoration: underline;
}